<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="topnav">
        <a class="active" href="{{ url_for('adminhome') }}">HOME</a>
        <a href="{{ url_for('list') }}">USERSLIST</a>
        <a href="{{ url_for('logout') }}">LOGOUT</a>
    </div>
    
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <hr>
    
    
    <!-- footer start -->
    
        <footer>
            <p>&copy; 2024 Your Website Name. All rights reserved.</p>
        </footer>
    <!-- endfooter -->
    </body>
    </html>